/*-- scss:defaults --*/

$presentation-title-slide-text-align: right;


/*-- scss:rules --*/

#title-slide {
  
  .title {
    font-size: 1.6em;
    position: relative;
    top: -200px;
  }
  
  .quarto-title-author-name {
    position: relative;
    top: -200px;
  }
  
  .quarto-title-affiliation {
    position: relative;
    top: -200px;
  }
  
}

.h2right h2 {
  text-align: right;
}

#all-white-right h2, 
#all-white-right h3, 
#all-white-right p, 
#all-white-right li, 
#all-white-right .fragment figcaption{
  text-align: right;
  color: white !important; /* Change text color to white */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1); /* Add a dark shadow */
}


#all-white-fifteen h2, 
#all-white-fifteen h3, 
#all-white-fifteen p, 
#all-white-fifteen li, 
#all-white-fifteen .fragment figcaption{
  margin-left: 15%;
  color: white !important; /* Change text color to white */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1); /* Add a dark shadow */
}


#all-white h2, 
#all-white h3, 
#all-white p, 
#all-white li, 
#all-white .fragment figcaption{
  color: white !important; /* Change text color to white */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1); /* Add a dark shadow */
}

#all-dark h2, 
#all-dark li, 
#all-dark .fragment figcaption{
  color: black !important; /* Change text color to white */
  text-shadow: 2px 2px 4px white; /* Add a dark shadow */
}

#all-dark p {
  font-size: 1.2em;
  color: black !important; /* Change text color to white */
  text-shadow: 2px 2px 4px white; /* Add a dark shadow */
}